<section>
  <div class="page-header">
    <h1>{{vm.auction._id ? 'Edit Auction' : 'New Auction'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.auctionForm" class="form-horizontal" ng-submit="vm.save(vm.form.auctionForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="title">Title</label>
          <input name="title" type="text" ng-model="vm.auction.title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="vm.form.auctionForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Auction title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="content">Content</label>
          <textarea name="content" data-ng-model="vm.auction.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
        </div>
        <div class="form-group">
          <label class="control-label" for="thumb">Thumb</label>
          <!-- <div class="well drop-zone form-control" nv-file-over="" uploader="uploader" data-ng-model="vm.auction.thumb" id="thumbdrop">Thumbnail dropzone</div> -->
          <input nv-file-select="" uploader="uploader" multiple="" type="file" data-ng-model="uploader.imageURL" id="thumbbrowse" class="form-control"></input>
          <img ng-src="{{imageURL}}" alt="auction image" class="img-thumbnail auction-picture">
        </div>
        <div class="text-center form-group" ng-show="uploader.queue.length">
          <button class="btn btn-primary" ng-click="uploadAuctionPicture();">Upload</button>
          <button class="btn btn-default" ng-click="cancelUpload();">Cancel</button>
        </div>
        <div ng-show="success" class="text-center text-success">
          <strong>Profile Picture Changed Successfully</strong>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.auction._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
