.list-group-item img {

  max-width: 100%;
  max-height: 150px;
  height: 150px;

}

.popover img {

  height: 100%;

}

.list-group-item {

  height: 300px;

}

a {

  color: black;

}

a:hover {



}
