.list-group-item img {

  max-width: 100%;
  max-height: 150px;
  height: 150px;

}

.popover img {

  height: 100%;

}

.list-group-item {

  padding: 3%;
  height: 330px;

}

.bid-btn {

  position: absolute;
  display: block;
  bottom: 3%;
  left: 0;
  width: 100%;

}

a {

  color: black;
  cursor: pointer;

}

a:hover {



}
