<section>
  <div class="page-header">
    <div class="row">
    Admin Winners Interface
    </div>
  </div>
  <div class="col-xs-6">
    <div class="list-group row">
      <button class="btn btn-primary" ng-click="vm.getLTWinners()">Select LT Winners</button>
      <div ng-repeat="winner in vm.LTWinners track by $index">
        <span ng-bind="winner.username"></span>
        <span ng-bind="winner.email"></span>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <button class="btn btn-primary" ng-click="vm.getAuctionWinners()">Auction Winners Info</button>
    <div ng-repeat="pairing in vm.auctionWinners">
      <span ng-bind="pairing.auction.title"></span>
      <span ng-bind="pairing.auction.content"></span>
      Won By
      <span ng-bind="pairing.user.displayName"></span>
      <span ng-bind="pairing.user.address"></span>
      <span ng-bind="pairing.user.region"></span>
      <span ng-bind="pairing.user.email"></span>
    </div>
  </div>

</section>
