<section class="row" ng-controller="EditProfileController">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
    <form name="userForm" ng-submit="updateUserProfile(userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="user.firstName" placeholder="First Name" required>
          <div ng-messages="userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">First name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="user.lastName" placeholder="Last Name" required>
          <div ng-messages="userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="user.email" placeholder="Email" lowercase required>
          <div ng-messages="userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email address is required.</p>
            <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="user.username" placeholder="Username" lowercase required>
          <div ng-messages="userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Username is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="address">Street Address</label>
          <input type="text" id="address" name="address" class="form-control" ng-model="user.address" placeholder="Address" required>
          <div ng-messages="userForm.address.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Address is required.</p>
          </div>
          <input type="text" id="address" name="address" class="form-control" ng-model="user.region" placeholder="City, State, Zip Code" required>
          <div ng-messages="userForm.region.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Region is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="facebook">Facebook</label>
          <input type="text" id="facebook" name="facebook" class="form-control" ng-model="user.socialLinks.facebook" placeholder="Facebook Profile Link">
          <div ng-messages="userForm.facebook.$error" role="alert">
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="github">Github</label>
          <input type="text" id="github" name="github" class="form-control" ng-model="user.socialLinks.github" placeholder="Github Profile Link">
          <div ng-messages="userForm.github.$error" role="alert">
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="google">Google</label>
          <input type="text" id="google" name="google" class="form-control" ng-model="user.socialLinks.google" placeholder="Google Profile Link">
          <div ng-messages="userForm.google.$error" role="alert">
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="linkedin">LinkedIn</label>
          <input type="text" id="linkedin" name="linkedin" class="form-control" ng-model="user.socialLinks.linkedin" placeholder="LinkedIn Profile Link">
          <div ng-messages="userForm.linkedin.$error" role="alert">
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="other">Other Social Link</label>
          <input type="text" id="other" name="other" class="form-control" ng-model="user.socialLinks.other" placeholder="Other Social Link">
          <div ng-messages="userForm.other.$error" role="alert">
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="personal">Personal Website</label>
          <input type="text" id="personal" name="personal" class="form-control" ng-model="user.socialLinks.personal" placeholder="Personal Website Link">
          <div ng-messages="userForm.personal.$error" role="alert">
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Save Profile</button>
        </div>
        <div ng-show="success" class="text-center text-success">
          <strong>Profile Saved Successfully</strong>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
    <a ng-click="generateReferralLink()">Generate Referral</a>
  </div>
</section>
